body{
    max-width: 1360px;
    height: auto;
    font-family: 'Mulish';
    font-style: normal;
}

/*HEADER Section*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-content: center;
    max-width: 1180px;
    height: 23px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    margin-top: 40px;
}
.logo{
    margin-left: 40px;
    margin-top: 20px;
}

.navbar a{
    text-decoration: none;
    margin: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color: #111111;
}

.links{
display: flex;
flex-direction: row;
list-style: none;
}


 .link1:hover, .link2:hover{
    color: #4A4FF2;
    text-decoration: underline;
 }


 /*FOOTER*/

 .footer{
    height: 80px;
     
 }
 
 .logo{
     padding-left: 70px;
 }
 
 .links{
     padding-left: 160px;
 }
  .socialslogo img{
    margin-top: 20px;
    margin: 10px;
  }
 